.wrapper {
    padding: 20px;
    width: 320px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.follow-btn{
    padding: 6px 16px;
}
.body {
    margin-top: 12px;
}
.nickname {
    font-size: 1.8rem;
}
.check {
    margin-left: 4px;
    font-size: 1.4rem;
    color: #20d5ec;
}
.name {
    font-size: 1.4rem;
}
.analy {
    margin-top: 10px;
    font-size: 1.8rem;
}
.value ~ .value {
    margin-left: 20px;
   
}
.label {
    color: #161823bf;
    font-size: 1.6rem;
}
